.Button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  height: 45px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.Header {
  background-color: #fff;
  color: #ed4c5c;
}

.Contact {
  background-color: #ed4c5c;
  color: #fff;
}
.Button:hover {
    opacity: 0.9;
} 
